/* HERO */
.hero {
    height: 300px;
    background: url('imagens/Dia1.jpeg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2rem;
}
